name: Behave tests

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Google Chrome 135
      run: |
        wget https://storage.googleapis.com/chrome-for-testing-public/135.0.7049.84/linux64/chrome-linux64.zip -P /tmp
        unzip /tmp/chrome-linux64.zip -d /tmp
        sudo mv /tmp/chrome-linux64/chrome /usr/bin/google-chrome
        sudo chmod +x /usr/bin/google-chrome

    - name: Install ChromeDriver 135
      run: |
        wget https://storage.googleapis.com/chrome-for-testing-public/135.0.7049.84/linux64/chromedriver-linux64.zip -P /tmp
        unzip /tmp/chromedriver-linux64.zip -d /tmp
        sudo mv /tmp/chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
        sudo chmod +x /usr/local/bin/chromedriver

    - name: Verify versions
      run: |
        google-chrome --version
        chromedriver --version

    - name: Run Behave tests
      run: behave features/
